.new-video {
  background-color: transparent;
  color: var(--secondary-color);
  font-size: var(--font-size-body-medium);
  border: 1px solid var(--grey-light-color);
}

.new-video:hover {
  border-color: #646cff;
}
.new-video:focus,
.new-video:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.play-now-button {
  background-color: var(--primary-color);
  font-size: var(--font-size-body-small);
}

.play-now-button:hover {
  background-color: #191a3a;
}

@media (min-width: 768px) {
  .play-now-button {
    font-size: var(--font-size-body-medium);
  }
}

@media (min-width: 1200px) {
  .play-now-button {
    font-size: var(--font-size-body-big);
  }
}
