.category-select select {
  width: 100%;
  background: var(--grey-darkest-color);
  padding: 1rem 1rem;
  border-radius: 7px;
  font-family: var(--font-family);
  font-size: var(--font-size-body-small);
  color: var(--grey-medium-color);
  font-weight: lighter;
}
