/* @import url(./assets/base-styles/_reset.css); */
/* @import url(./assets/base-styles/_variables.css); */

/* body {
  background-color: var(--background-color);
  color: var(--grey-light-color);
  font-family: var(--font-family);
  overflow-x: hidden;
  margin: 0;
} */

.container {
  padding-right: 1rem;
  padding-left: 1rem;
}

/* .button {
  border-radius: 7px;
  cursor: pointer;
  padding: 0.75rem 1.5rem;
  border: none;
  cursor: pointer;
  transition: border-color 0.25s;
  font-size: var(--font-size-body-small);
} */

input,
textarea {
  box-sizing: border-box;
}

@media (min-width: 768px) {
  .container {
    padding-right: 2.5rem;
    padding-left: 2.5rem;
  }
  .play-now-button {
    font-size: var(--font-size-body-medium);
  }
}

@media (min-width: 1200px) {
  .container {
    padding-left: calc((100vw - 1000px) / 2);
    padding-right: calc((100vw - 1000px) / 2);
  }
  .play-now-button {
    font-size: var(--font-size-body-big);
  }
}
