.movie-banner {
  width: 100%;
  position: relative;
  min-height: 70vh;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
}

.banner-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 40%;
  z-index: 1;
}

.banner-content h1 {
  font-size: var(--font-size-body-big);
  margin-bottom: 10px;
}

/* Hide paragraphs on smaller screens */
.banner-content p {
  display: none;
}

/* Styles for medium and large screens */
@media (min-width: 767px) {
  .movie-banner {
    background-position: center;
  }
  .banner-content {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .banner-content h1 {
    font-size: var(--font-size-title-medium);
    margin-bottom: 10px;
  }
  .banner-content p {
    font-size: var(--font-size-body-small);
    font-weight: lighter;
    display: flex;
    gap: 6px;
    margin-bottom: 5px;
  }
}

@media (min-width: 1200px) {
  .movie-banner {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .banner-content {
    padding-top: 40px;
    padding-bottom: 40px;
    max-width: 500px;
  }
  .banner-content h1 {
    font-size: var(--font-size-title-big);
    margin-bottom: 20px;
  }
  .banner-content p {
    font-size: var(--font-size-body-medium);
    font-weight: lighter;
    display: flex;
    gap: 6px;
    margin-bottom: 10px;
  }
}
